<h3>Bets Table</h3>


<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Units wagered</th>
      <th>Units won</th>
      <th>Units lost</th>
      <th>Net position</th>
      <!-- <th>Home team result</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<p><%= link_to 'Place New Bet', new_bet_path %></p>

   <tbody>
